@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font: 400 12px/18px "Roboto", Helvetica, Arial, sans-serif;
}

#contact input,
#contact button[type="button"] {

  font: 400 12px/18px "Roboto", Helvetica, Arial, sans-serif;
}

#contact select {
  width: 100%;
   border: 1px solid #ccc;
  background: #FFF;
  font: 400 12px/17px "Roboto", Helvetica, Arial, sans-serif;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact button:hover {
  opacity: 0.8;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact {
  background: #F9F9F9;
  padding: 40px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 120%;
  min-width: 300px;
}

#contact h3 {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
}



::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd !important;
}

select.highlight {
    border: 1px solid #ffdddd !important;

}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #4CAF50;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}


/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


