.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.985000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.175000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.708000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.721000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.996000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.902000;font-style:normal;font-weight:normal;visibility:visible;}
.m4{transform:matrix(0.177574,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.177574,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.177574,0.000000,0.000000,0.250000,0,0);}
.m8{transform:matrix(0.199152,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.199152,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.199152,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.229286,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.229286,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.229286,0.000000,0.000000,0.250000,0,0);}
.m5{transform:matrix(0.229286,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.229286,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.229286,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.233932,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.233932,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.233932,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.234456,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.234456,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.234456,0.000000,0.000000,0.250000,0,0);}
.m7{transform:matrix(0.239892,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.239892,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.239892,0.000000,0.000000,0.250000,0,0);}
.m6{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.271228,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.271228,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.271228,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-1.836800px;}
.ls2{letter-spacing:0.000000px;}
.ls0{letter-spacing:1.366271px;}
.ls3{letter-spacing:1.395341px;}
.ls1{letter-spacing:21.276000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws3{word-spacing:-1.395341px;}
.ws1{word-spacing:-1.366271px;}
.ws0{word-spacing:0.000000px;}
.ws2{word-spacing:1.395341px;}
.ws4{word-spacing:1.836800px;}
._3{margin-left:-6.408000px;}
._2{margin-left:-4.104000px;}
._4{margin-left:-2.685200px;}
._1{margin-left:-1.064000px;}
._0{width:1.395341px;}
.fc7{color:rgb(242,83,27);}
.fc6{color:rgb(16,15,13);}
.fc4{color:rgb(226,30,38);}
.fc5{color:rgb(27,24,25);}
.fc0{color:rgb(27,24,25);}
.fc2{color:rgb(43,37,38);}
.fc1{color:rgb(227,29,37);}
.fc3{color:rgb(40,39,40);}
.fsc{font-size:26.118400px;}
.fsf{font-size:28.000000px;}
.fs0{font-size:29.069600px;}
.fs7{font-size:32.648000px;}
.fs2{font-size:34.121600px;}
.fs5{font-size:36.000000px;}
.fsd{font-size:38.202000px;}
.fs6{font-size:40.000000px;}
.fsb{font-size:44.800000px;}
.fs4{font-size:46.694400px;}
.fs3{font-size:56.000000px;}
.fsa{font-size:64.000000px;}
.fs8{font-size:72.000000px;}
.fs1{font-size:108.000000px;}
.fs9{font-size:148.000000px;}
.fse{font-size:178.560000px;}
.y0{bottom:0.000000px;}
.y23{bottom:27.513700px;}
.y20{bottom:37.065400px;}
.y1f{bottom:45.465400px;}
.y1e{bottom:53.865400px;}
.y1d{bottom:62.265400px;}
.y1c{bottom:70.665400px;}
.y1b{bottom:79.065400px;}
.y21{bottom:87.380900px;}
.y22{bottom:97.541000px;}
.y11{bottom:124.743200px;}
.y14{bottom:132.443400px;}
.y12{bottom:148.076200px;}
.y13{bottom:153.404300px;}
.y1a{bottom:217.091800px;}
.y19{bottom:226.312700px;}
.y18{bottom:237.112700px;}
.y17{bottom:247.912700px;}
.y16{bottom:258.712700px;}
.ya{bottom:266.337900px;}
.y15{bottom:269.512700px;}
.y9{bottom:276.055700px;}
.y8{bottom:327.559560px;}
.y7{bottom:341.567880px;}
.y6{bottom:355.576200px;}
.ye{bottom:381.401000px;}
.yd{bottom:398.201000px;}
.yb{bottom:415.001000px;}
.yc{bottom:419.663100px;}
.y5{bottom:487.112300px;}
.y10{bottom:533.585000px;}
.yf{bottom:596.125000px;}
.y4{bottom:626.346700px;}
.y2{bottom:639.122100px;}
.y1{bottom:694.464800px;}
.y3{bottom:701.877000px;}
.hd{height:18.204525px;}
.h12{height:19.376000px;}
.h10{height:21.000000px;}
.h2{height:21.177658px;}
.h9{height:24.486000px;}
.h4{height:24.858119px;}
.h11{height:24.912000px;}
.h7{height:27.000000px;}
.he{height:28.651500px;}
.h8{height:30.000000px;}
.h6{height:35.020800px;}
.h5{height:42.000000px;}
.hc{height:44.608000px;}
.ha{height:54.000000px;}
.h3{height:81.000000px;}
.hb{height:118.992000px;}
.hf{height:177.310080px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w0{width:595.280000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x14{left:32.633800px;}
.x9{left:34.848600px;}
.x15{left:49.829100px;}
.x16{left:57.360400px;}
.x2{left:88.752000px;}
.x1b{left:90.299800px;}
.x1d{left:107.514600px;}
.xa{left:113.593300px;}
.x12{left:129.486800px;}
.x6{left:167.196800px;}
.x7{left:169.850144px;}
.x13{left:181.704100px;}
.x11{left:184.266900px;}
.x3{left:185.332000px;}
.x4{left:194.687500px;}
.x5{left:200.585900px;}
.xb{left:204.990200px;}
.x1{left:219.964800px;}
.x8{left:236.880247px;}
.xc{left:284.248000px;}
.xd{left:290.895500px;}
.x10{left:305.566380px;}
.xe{left:322.583000px;}
.xf{left:329.230500px;}
.x1c{left:363.481800px;}
.x18{left:369.018600px;}
.x19{left:373.054953px;}
.x1a{left:400.170328px;}
.x17{left:432.727500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-2.449067pt;}
.ls2{letter-spacing:0.000000pt;}
.ls0{letter-spacing:1.821695pt;}
.ls3{letter-spacing:1.860454pt;}
.ls1{letter-spacing:28.368000pt;}
.ws3{word-spacing:-1.860454pt;}
.ws1{word-spacing:-1.821695pt;}
.ws0{word-spacing:0.000000pt;}
.ws2{word-spacing:1.860454pt;}
.ws4{word-spacing:2.449067pt;}
._3{margin-left:-8.544000pt;}
._2{margin-left:-5.472000pt;}
._4{margin-left:-3.580267pt;}
._1{margin-left:-1.418667pt;}
._0{width:1.860454pt;}
.fsc{font-size:34.824533pt;}
.fsf{font-size:37.333333pt;}
.fs0{font-size:38.759467pt;}
.fs7{font-size:43.530667pt;}
.fs2{font-size:45.495467pt;}
.fs5{font-size:48.000000pt;}
.fsd{font-size:50.936000pt;}
.fs6{font-size:53.333333pt;}
.fsb{font-size:59.733333pt;}
.fs4{font-size:62.259200pt;}
.fs3{font-size:74.666667pt;}
.fsa{font-size:85.333333pt;}
.fs8{font-size:96.000000pt;}
.fs1{font-size:144.000000pt;}
.fs9{font-size:197.333333pt;}
.fse{font-size:238.080000pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:36.684933pt;}
.y20{bottom:49.420533pt;}
.y1f{bottom:60.620533pt;}
.y1e{bottom:71.820533pt;}
.y1d{bottom:83.020533pt;}
.y1c{bottom:94.220533pt;}
.y1b{bottom:105.420533pt;}
.y21{bottom:116.507867pt;}
.y22{bottom:130.054667pt;}
.y11{bottom:166.324267pt;}
.y14{bottom:176.591200pt;}
.y12{bottom:197.434933pt;}
.y13{bottom:204.539067pt;}
.y1a{bottom:289.455733pt;}
.y19{bottom:301.750267pt;}
.y18{bottom:316.150267pt;}
.y17{bottom:330.550267pt;}
.y16{bottom:344.950267pt;}
.ya{bottom:355.117200pt;}
.y15{bottom:359.350267pt;}
.y9{bottom:368.074267pt;}
.y8{bottom:436.746080pt;}
.y7{bottom:455.423840pt;}
.y6{bottom:474.101600pt;}
.ye{bottom:508.534667pt;}
.yd{bottom:530.934667pt;}
.yb{bottom:553.334667pt;}
.yc{bottom:559.550800pt;}
.y5{bottom:649.483067pt;}
.y10{bottom:711.446667pt;}
.yf{bottom:794.833333pt;}
.y4{bottom:835.128933pt;}
.y2{bottom:852.162800pt;}
.y1{bottom:925.953067pt;}
.y3{bottom:935.836000pt;}
.hd{height:24.272700pt;}
.h12{height:25.834667pt;}
.h10{height:28.000000pt;}
.h2{height:28.236877pt;}
.h9{height:32.648000pt;}
.h4{height:33.144158pt;}
.h11{height:33.216000pt;}
.h7{height:36.000000pt;}
.he{height:38.202000pt;}
.h8{height:40.000000pt;}
.h6{height:46.694400pt;}
.h5{height:56.000000pt;}
.hc{height:59.477333pt;}
.ha{height:72.000000pt;}
.h3{height:108.000000pt;}
.hb{height:158.656000pt;}
.hf{height:236.413440pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w0{width:793.706667pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x14{left:43.511733pt;}
.x9{left:46.464800pt;}
.x15{left:66.438800pt;}
.x16{left:76.480533pt;}
.x2{left:118.336000pt;}
.x1b{left:120.399733pt;}
.x1d{left:143.352800pt;}
.xa{left:151.457733pt;}
.x12{left:172.649067pt;}
.x6{left:222.929067pt;}
.x7{left:226.466859pt;}
.x13{left:242.272133pt;}
.x11{left:245.689200pt;}
.x3{left:247.109333pt;}
.x4{left:259.583333pt;}
.x5{left:267.447867pt;}
.xb{left:273.320267pt;}
.x1{left:293.286400pt;}
.x8{left:315.840329pt;}
.xc{left:378.997333pt;}
.xd{left:387.860667pt;}
.x10{left:407.421840pt;}
.xe{left:430.110667pt;}
.xf{left:438.974000pt;}
.x1c{left:484.642400pt;}
.x18{left:492.024800pt;}
.x19{left:497.406604pt;}
.x1a{left:533.560438pt;}
.x17{left:576.970000pt;}
}
